{% extends 'base.html' %}

{% block header %}
  <h1 class="my-3">{% block title %}Add Diagnosis{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <div class="mb-3">
      <label for="category" class="form-label">Category</label>
      <input type="text" name="category" class="form-control" id="category" reqired value="{{ request.form.get('name', default='') }}">
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea name="description" class="form-control" id="description" rows="3">{{ request.form.get('description', default='') }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <a class="btn btn-secondary" href="{{ url_for('patient.view_patient', patient_id=patient_id) }}">Back</a>
</form>
{% endblock %}
