{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{% if user.id %} Edit User {% else %} Create User {% endif %} {% endblock %}</h1>
{% endblock %}

{% block content %}

  <form method="post">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" name="username" class="form-control" id="username" reqired {% if user.id %} value="{{ request.form.get('username', default=user.username) }}" {% else%} value="{{ request.form.get('username', default='') }}" {% endif %}>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password" {% if not user.id %} required {% endif %}>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Confirm Password</label>
      <input type="password" class="form-control" id="confirmation" name="confirmation">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="is_admin" name="is_admin" value="1" {% if request.form.get('is_admin', default=user.is_admin) == true %} checked {% endif %}>
      <label class="form-check-label" for="is_admin">Is admin account</label>
    </div>
    <button type="submit" class="btn btn-primary">{% if user.id %} Update {% else %} Create {% endif %}</button>
    <a  class="btn btn-warning" href="{{ url_for('auth.users') }}">Back</a>
  </form>
{% endblock %}