{% extends 'base.html' %}


{% block content %}
<div class="mt-4 float-end">
  <a class="btn btn-primary" href="{{ url_for('users.user_create') }}">Create User</a>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Profile</th>
      <th scope="col">Username</th>
      <th scope="col">Admin Account</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  {% for user in pagination_collection.items %}
    <tr>
      <th scope="row">
        <img src="https://source.boringavatars.com/beam/60/{{ user.id }}?colors=65cccc,ffcc66,cc99cc,99cc99,f99156" alt="Boring Avatar">
      </th>
      <td class="align-middle">{{ user.username }}</td>
      <td class="align-middle">{{ user.is_admin }}</td>
      <td class="align-middle">
          <a class="btn btn-outline-primary btn-sm" href="{{ url_for('users.user_edit', id=user.id) }}">Edit</a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{{ pagination_collection.pagination.links }}
{% endblock %}