{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Patients{% endblock %}</h1>
  <a class="action" href="{{ url_for('blog.search') }}">Search</a>
  <a class="action" href="{{ url_for('blog.create') }}">New</a>
{% endblock %}

{% block content %}
  {% for patient in patients %}
    <article class="patient">
      <header>
        <div>
          <h1>{{ patient['name'] }}</h1>
          <p>sex: {{ patient['sex'] }}, age: {{ patient['age'] }}</p>
          <div class="about">by {{ patient['username'] }} on {{ patient['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == patient['author_id'] %}
          <a class="action" href="{{ url_for('blog.update', id=patient['id']) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ patient['body'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}