{% extends 'base.html' %}

{% block header %}
  <div class="row">
    <div class="col-md-8">
        <h1 class="fs2-text my-3">{% block title %}Patients{% endblock %}</h1>
    </div>
    <div class="col-md-4 text-md-end">
        <div class="my-3 d-grid gap-2 d-md-flex justify-content-md-end">
            <a class="btn btn-secondary me-md-2" href="{{ url_for('blog.search') }}">Search</a>
            <a class="btn btn-primary" href="{{ url_for('blog.add_patient') }}">Create</a>
        </div>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="row">
  {% for patient in patients %}
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="card mb-4">
      <a class="card-body text-decoration-none" href="{{ url_for('blog.view_patient', patient_id=patient.id) }}">
        <h3 class="card-title">{{ patient.name }}</h3>
        <h6 class="card-subtitle mb-2 text-body-secondary">Sex: {{ patient.sex }}</h6>
        <h6 class="card-subtitle mb-2 text-body-secondary">Date of Birth: {{ patient.sex }}</h6>
        <h6 class="card-subtitle mb-2 text-body-secondary">Phone: {{ patient.phone }}</h6>
        {% if g.user.is_admin %}
          <a class="btn btn-outline-primary m-3" href="{{ url_for('blog.update_patient', patient_id=patient.id) }}">Edit</span></a>
        {% endif %}
      </a>
    </div>
  </div>
  {% endfor %}
</div>




  {{ pagination.links }}

{% endblock %}