{% extends 'base.html' %}

{% block header %}
  <h1 class="my-3">{% block title %}Edit "{{ diagnosis['category'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <div class="mb-3">
      <label for="category" class="form-label">Category</label>
      <input name="category" class="form-control" id="category" value="{{ request.form['category'] or diagnosis['category'] }}" required>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea name="description" class="form-control" id="description">{{ request.form['description'] or diagnosis['description'] }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <a class="btn btn-secondary" href="{{ url_for('blog.view_patient', patient_id=diagnosis['patient_id']) }}">Back</a>
    <button id="delete_trigger" class="btn btn-danger float-end" type="submit" onclick="return deleteDiagnosis()">Delete</button>
  </form>
  <hr>

  <form id="delete_form" action="{{ url_for('blog.delete_diagnosis', diagnosis_id=diagnosis['id']) }}" method="post">

  </form>

  <script>
    deleteDiagnosis = () => {
      if (confirm('Confirm to delete this diagnosis?')) {
        document.getElementById('delete_form').submit();
      }

      return false;
    }
  </script>
{% endblock %}