{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ patient['name'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">Name</label>
    <input name="name" id="name" value="{{ request.form['name'] or patient['name'] }}" required>
    <select id="sex" name="sex">
        <option value="male">male</option>
        <option value="female">female</option>
    </select>
    <label for="date_of_birth">Date of Birth</label>
    <input name="date_of_birth" id="date_of_birth" value="{{ request.form['date_of_birth'] or patient['date_of_birth'] }}" required>
    <label for="phone">Phone</label>
    <input name="phone" id="phone" value="{{ request.form['phone'] or patient['phone'] }}" required>
    <label for="address">Address</label>
    <input name="address" id="address" value="{{ request.form['address'] or patient['address'] }}" required>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('blog.delete_patient', patient_id=patient['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
  <a href="{{ url_for('blog.index') }}">Back</a>
{% endblock %}
