{% extends 'base.html' %}

{% block header %}
  <h1 class="my-3">{% block title %}Search{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="get" class="">
    <!-- Brand -->
    <div class="mb-3">
      <label for="brand" class="form-label">Brand</label>
      <input type="text" name="brand" class="form-control" id="brand"
            value="{{ request.args.get('brand', default='') }}">
    </div>

    <!-- Make -->
    <div class="mb-3">
      <label for="make" class="form-label">Make</label>
      <input type="text" name="make" class="form-control" id="make"
            value="{{ request.args.get('make', default='') }}">
    </div>

    <!-- Model -->
    <div class="mb-3">
      <label for="model" class="form-label">Model</label>
      <input type="text" name="model" class="form-control" id="model"
            value="{{ request.args.get('model', default='') }}">
    </div>

    <!-- Variant -->
    <div class="mb-3">
      <label for="variant" class="form-label">Variant</label>
      <input type="text" name="variant" class="form-control" id="variant"
            value="{{ request.args.get('variant', default='') }}">
    </div>

    <!-- Serial Number -->
    <div class="mb-3">
      <label for="serial_number" class="form-label">Serial Number</label>
      <input type="number" name="serial_number" class="form-control" id="serial_number"
            value="{{ request.args.get('serial_number', default='') }}">
    </div>

    <!-- Production Count -->
    <div class="mb-3">
      <label for="production_count" class="form-label">Production Count</label>
      <input type="number" name="production_count" class="form-control" id="production_count"
            value="{{ request.args.get('production_count', default='') }}">
    </div>

    <!-- Purchase Price -->
    <div class="mb-3">
      <label for="purchase_price" class="form-label">Purchase Price</label>
      <input type="number" name="purchase_price" class="form-control" id="purchase_price"
            value="{{ request.args.get('purchase_price', default='') }}">
    </div>

    <!-- Purchase Platform -->
    <div class="mb-3">
      <label for="purchase_platform" class="form-label">Purchase Platform</label>
      <input type="text" name="purchase_platform" class="form-control" id="purchase_platform"
            value="{{ request.args.get('purchase_platform', default='') }}">
    </div>

    <!-- Purchase Year -->
    <div class="mb-3">
      <label for="purchase_year" class="form-label">Purchase Year</label>
      <select name="purchase_year" class="form-select" id="purchase_year">
        <option value="">-- Select Year --</option>
        {% for year in range(2024, current_year) %}
          <option value="{{ year }}" {% if request.args.get('purchase_year', default='')|int == year %}selected{% endif %}>
            {{ year }}
          </option>
        {% endfor %}
      </select>
    </div>

    <!-- Purchase Month -->
    <div class="mb-3">
      <label for="purchase_month" class="form-label">Purchase Month</label>
      <select name="purchase_month" class="form-select" id="purchase_month">
        <option value="">-- Select Month --</option>
        {% for month in range(1, 13) %}
          <option value="{{ month }}" {% if request.args.get('purchase_month', default='')|int == month %}selected{% endif %}>
            {{ month }}
          </option>
        {% endfor %}
      </select>
    </div>

    <!-- Is Sold -->
    <div class="mb-3">
      <label for="is_sold" class="form-label">Is Sold</label>
      <select name="is_sold" class="form-select" id="is_sold">
        <option value="">-- Select Status --</option>
        <option value="True" {% if request.args.get('is_sold', default='') == 'True' %}selected{% endif %}>Yes</option>
        <option value="False" {% if request.args.get('is_sold', default='') == 'False' %}selected{% endif %}>No</option>
      </select>
    </div>

    <!-- Sold Price -->
    <div class="mb-3">
      <label for="sold_price" class="form-label">Sold Price</label>
      <input type="number" name="sold_price" class="form-control" id="sold_price"
            value="{{ request.args.get('sold_price', default='') }}">
    </div>

    <!-- Sold Platform -->
    <div class="mb-3">
      <label for="sold_platform" class="form-label">Sold Platform</label>
      <input type="text" name="sold_platform" class="form-control" id="sold_platform"
            value="{{ request.args.get('sold_platform', default='') }}">
    </div>

    <!-- Sold Year -->
    <div class="mb-3">
      <label for="sold_year" class="form-label">Sold Year</label>
      <select name="sold_year" class="form-select" id="sold_year">
        <option value="">-- Select Year --</option>
        {% for year in range(2024, current_year) %}
          <option value="{{ year }}" {% if request.args.get('sold_year', default='')|int == year %}selected{% endif %}>
            {{ year }}
          </option>
        {% endfor %}
      </select>
    </div>

    <!-- Sold Month -->
    <div class="mb-3">
      <label for="sold_month" class="form-label">Sold Month</label>
      <select name="sold_month" class="form-select" id="sold_month">
        <option value="">-- Select Month --</option>
        {% for month in range(1, 13) %}
          <option value="{{ month }}" {% if request.args.get('sold_month', default='')|int == month %}selected{% endif %}>
            {{ month }}
          </option>
        {% endfor %}
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Search</button>
    <a class="btn btn-secondary" href="{{ url_for('main.index') }}">Back</a>
</form>

{% if request.args %}
<hr class="border border-primary border-3 opacity-75">
{% if not items|length %}
<div class="alert alert-warning">No item is found, please try again</div>
{% endif %}
{% endif %}
<div class="row">
  {% for item in items %}
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="card mb-4">
      <a class="card-body" href="{{ url_for('item.view_item', item_id=item.id) }}">
        <h3 class="card-title">{{ item.brand }} {{ item.model }}</h3>
        <h6 class="card-subtitle mb-2 text-body-secondary">Variant: {{ item.variant }}</h6>
        <h6 class="card-subtitle mb-2 text-body-secondary">Price: {{ item.purchase_price }}</h6>
        <h6 class="card-subtitle mb-2 text-body-secondary">Date: {{ item.purchase_year }} {{ item.purchase_month }}</h6>
        {% if g.user.is_admin %}
        <a href="{{ url_for('item.update_item', item_id=item.id) }}" class="btn btn-outline-primary m-2">Edit</a>
        {% endif %}
      </a>
    </div>
  </div>
  {% endfor %}
</div>

  {{ pagination.links }}

{% endblock %}
