{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}

  <form method="post">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" name="username" class="form-control" id="username" reqired value="{{ request.form.get('username', default='') }}">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Confirm Password</label>
      <input type="password" class="form-control" id="confirmation" name="confirmation" required>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="is_admin" name="is_admin" value="1" {% if request.form.get('is_admin', default='0') == '1' %} checked {% endif %}>
      <input type="hidden" name="is_admin" value="0">
      <label class="form-check-label" for="is_admin">Is admin account</label>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
{% endblock %}