{% extends 'base.html' %}

{% block header %}
  <div class="row">
    <div class="col-6">
      <h1 class="fs2-text my-3">{% block title %}{{ item['brand'] }} {{ item['make'] }} {{ item['model'] }}{% endblock %}</h1>
    </div>
    <div class="col-6">
      <div class="my-3 d-grid gap-2 d-flex justify-content-end">
        <a class="btn btn-primary" href="{{ url_for('comment.add_comment', item_id=item.id) }}">New comment</a>
      </div>
    </div>
  </div>
{% endblock %}

  {% block content %}
    <div>
      <p>Brand: {{ item['brand'] }}</p>
      <p>Make: {{ item['make'] }}</p>
      <p>Model: {{ item['model'] }}</p>
      <p>Variant: {{ item['variant'] }}</p>
      <p>Serial Number: {{ item['serial_number'] }}</p>
      <p>Production Count: {{ item['production_count'] }}</p>
      <p>Purchase Price: {{ item['purchase_price'] }}</p>
      <p>Purchase Platform: {{ item['purchase_platform'] }}</p>
      <p>Purchase Year: {{ item['purchase_year'] }}</p>
      <p>Purchase Month: {{ item['purchase_month'] }}</p>
      <p>Is Sold: {{ 'Yes' if item['is_sold'] else 'No' }}</p>
      <p>Sold Price: {{ item['sold_price'] }}</p>
      <p>Sold Platform: {{ item['sold_platform'] }}</p>
      <p>Sold Year: {{ item['sold_year'] }}</p>
      <p>Sold Month: {{ item['sold_month'] }}</p>
    </div>
    <div>
    {% for d in comment %}
    <article class="item">
      <header>
        <div class="card mb-4">
          <div class="card-body">

            <div class="row">
              <div class="col-8">
                  <h3 class="fs2-text">{{ d[0]['category'] }}</h3>
              </div>
              <div class="col-4">
                  <div class="d-grid gap-2 d-flex justify-content-end">
                      {% if g.user.id == d[0].author_id %}
                        <a class="btn btn-outline-primary" href="{{ url_for('comment.update_comment', comment_id=d[0]['id']) }}">Edit</a>
                      {% endif %}
                  </div>
              </div>
            </div>

            <h6 class="card-subtitle mb-2 text-body-secondary">{{ d[0]['description'] }}</h6>
            <div class="about">by {{ d[1]['username'] }} on {{ d[0]['created'].strftime('%Y-%m-%d') }}</div>
          </div>
        </div>
      </header>
    </article>
    {% endfor %}
    </div>
    {{ pagination.links }}
  {% endblock %}